

    <h2>{vote_title}</h2>

    <p>
      {vote_text}

      <IF NAME="display_link">
        (<a href="{document_self}">{txt_display_form}</a>)
      </IF NAME="display_link">
    </p>


    <IF NAME="display_results">
      <table border="0" cellspacing="3" cellpadding="1">
        <LOOP NAME="vote_result">
          <tr>
            <td><p><b>{vote_option}</b></p></td>
            <td><img src="./templates/images_voting/{bar_image_name}" height="15" width="{bar_width}" alt="" border="0"></td>
            <td>&nbsp;&nbsp;&nbsp;{vote_number}</td>
            <td>&nbsp;&nbsp;&nbsp;<b>{relation} %</b></td>
          </tr>
        </LOOP NAME="vote_result">
      </table>

      <p>{txt_total_votes}: {total_votes}</p>

    </IF NAME="display_results">



    <p>
      <LOOP NAME="message">
        <strong>{message}</strong><br />
      </LOOP NAME="message">
    </p>
